#content {
  display: flex;
  flex-direction: column;
}

#top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.splash {
  background: url('./pictures/splash.jpg');
  background-position: center;
}

.splash p {
  color: white;
}

.splash .title {
  font-size: 2em; 
}

.splash .motto {
  font-size: 1em;
}

.delivery-icon {
  width: 120px;
  aspect-ratio: 1 / 1;
}

.menu-food {
  width: 200px;
  aspect-ratio: 1 / 1;
}

.item-entry img {
  width: 200px;
  aspect-ratio: 1 / 1;
}
