.splash {
  background: url('./splash.jpg');
  background-position: center;
}

.splash p {
  color: white;
}

.splash .title {
  font-size: 2em; 
}

.splash .motto {
  font-size: 1em;
}

.delivery-icon {
  width: 120px;
  aspect-ratio: 1 / 1;
}
